<div class="create">
    <input type="text" class="create__input" placeholder="Name">
    <div class="color" appSelect [elClass]="'color__choice'" [toggleClass]="'outlined'">
        <div class="color__choice color__choice--1"></div>
        <div class="color__choice color__choice--2"></div>
        <div class="color__choice color__choice--3"></div>
        <div class="color__choice color__choice--4"></div>
        <div class="color__choice color__choice--5"></div>
    </div>
    <button class="create__button">Create</button>
</div>
