:host {
    background-color: #fff;
    flex: 0 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create {
    width: 100%;
    font-family: 'Blinker', sans-serif;

    & > *:not(button){
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

    &>:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        background-color: #e5ede4;
        border: none;
        color: #333;
        font-family: inherit;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        outline: none;
        height: 6rem;
        padding: 2rem 2rem;
    }

    &__input::placeholder {
        color: #789e72
    }

    &__button {
        background-color: rgb(43, 196, 43);
        border: none;
        border-radius: 100px;
        color: #fff;
        cursor: pointer;
        font-family: inherit;
        font-size: 2rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        width: 20rem;
        outline: none;
        padding: 1rem 2rem;
        transition: all .4s ease;
    }

    &__button:disabled {
        background-color: #e5ede4;
    }

    &__button:disabled:hover {
        cursor: default;
        transform: scale(1);
    }

    &__input,
    &__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__button:hover {
        transform: scale(1.05);
    }
}

.color,
.head,
.body {
    display: flex;
    background-color: #e5ede4;
    justify-content: space-around;
    align-items: center;
    height: 6rem;

    &__choice {
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        transition: .2s ease-in;
    }

    &__choice:hover {
        outline: .5rem solid #789e72;
    }

    &__shape {
        width: 5rem;
        height: 5rem;
        fill: #789e72;
        pointer-events: none;
    }
}

.outlined {
    outline: .5rem solid #789e72;
}