*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Blinker', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%
}